
.row-container {
  margin-top: 100px;
}

.row-container h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service {
  width: 10px;
  color: #f4f4f4;
  flex: 1 0 5%;
  padding: 10px;
  transition: all 0.4s;
  border-radius: 12px;
  border: #5f5f5f solid 1px;
  background-color: #0d0f13;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Adicionei uma direção de coluna para os elementos se empilharem verticalmente */
}

@media (max-width: 600px) {
  .service {
    flex: 1 0 100%;
  }
}

.service:hover {
  transform: scale(1.02);
  cursor: pointer;
  border: #3B87F9 solid 1px;
  background-color: #101317;
}

.service:hover hx {
color: #3B87F9;
font-size: 20px;
}

.service h2,
.service h3 {
  margin-bottom: 5px; /* Adicionei uma margem inferior para espaçamento entre os elementos */
  margin-left: 12px;
}

.service hx {
  color: #5f5f5f; /* Cor azul para hx */
  margin-top: 20px; /* Ajuste conforme necessário */
  margin-bottom: -10px; /* Adicionei uma margem inferior para espaçamento entre os elementos */
  margin-left: 12px;
  text-align:left;
  transition: all 0.4s;
}


.service p {
font-size: 14;
margin-top: 20px;
margin-left: 12px;
}

.service button{
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 10px;
  width: 160px;
  height: 40px;
  color: #f4f4f4;
  border: 1px solid #3B87F9;
  border-radius: 20px;
  transition: all 0.4s;
}

.intro-container {
display: flex;
flex-direction: row;
overflow: auto;
flex-wrap: wrap;
gap: 10px;
}

.intro-image {
  width: 10px;
  margin-top: 32px;
}

.intro-description {
  margin-top: 120px;
  margin-left: 60px;
}

.intro-description h2 {
  margin-bottom: 10px;
  font-size: 48px;
  color: #3B87F9;
}

.intro-description h3 {
  margin-top: -20px;
  font-size: 32px;
  font-weight: 400;
  color: #fffbfb;
}

.intro-description button {
margin-top: 40px;
}

.intro-description h3.loader-text {
  font-size: 40px;
  font-weight: 700;
  color: #3B87F9;
  background: linear-gradient(to right, #159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  white-space: nowrap;
}

.intro-description h3.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  animation: typewriter 2s steps(10) infinite alternate, blink 0.5s steps(10) infinite;
}

.intro-description p {
  margin: 10px;
  margin-left: 0;
  color: #a7a7a7;
}

.intro-description .contact {
margin-right: 10px;
width: 160px;
height: 40px;
color: #f4f4f4;
border: 1px solid #3B87F9;
border-radius: 20px;
transition: all 0.4s;
}

.intro-description .more {
  width: 160px;
  height: 40px;
  color: #f4f4f4;
  border-radius: 20px;
  border: 1px solid #5f5f5f;
  transition: all 0.4s;
  }

  .intro-description .more:hover {
    background-color: #5f5f5f;
    width: 186px;
    letter-spacing: 2px;
      }

  .intro-description .contact:hover {
  background-color: #3B87F9;
  width: 186px;
  letter-spacing: 2px;
    }

@keyframes typewriter {
  0% {
      width: 0;
  }

  100% {
      width: 240px;
  }
}

@keyframes blink {
  0% {
      border-right-color: rgba(255, 255, 255, 0.75);
  }

  100% {
      border-right-color: transparent;
  }
}


.box {
  width: 140px;
  height: auto;
  float: left;
  color: #fffbfb;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #3B87F9;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #3B87F9;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.about-container {
  margin-top: 120px;
}

.about {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background-color: #0d0f13;
  border: 1px solid #5f5f5f;
  min-height: 420px;
  max-height: 1400px;
  overflow: hidden;
  transition: all 0.4s;
}

.about strong {
transition: all 0.4s;
}

.about:hover h2 {
  color: #3B87F9
}

.about:hover strong {
  color: #3B87F9
}

.about:hover {
  border: 1px solid #3B87F9;
  background-color: #101317;
}

.about-description h2 {
  font-size: 32px;
  color: #5f5f5f;
  margin-top: 32px; 
  margin-bottom: -20px;
  margin-left: 12px;
  transition: all 0.4s;
}


.about-description h3 {
  color: #ffffff; 
  font-size: 16px;
  margin-left: 12px;
}

.about-description p {
  color: #a7a7a7;
  margin-top: 48px;
  margin-bottom: 20px; 
  margin-left: 12px;
  margin-right: 48px;
}
.disponibilidade {
margin-bottom: 20px;
margin-top: 10px;
font-size: 12px;
transition: all 0.4s;
}


.about:hover .disponibilidade {
color: #3B87F9;
}

.about-image img {
  object-fit: fill;
  padding: 0px;
  width: 380px;
  height:380px;
  margin-left: 20px;
  margin-right: 80px;
  filter: grayscale(100%);
  transition: all 0.4s;
}

.about:hover img {
  color: #3B87F9;
  filter: grayscale(0%);
  }

@media (max-width: 800px) {
  .about {
    flex-direction: column; /* Alterando a direção para coluna em telas menores que 800px */
  }

  .about-image img {
    margin-bottom: 20px; /* Adicionando espaçamento entre a imagem e o texto em telas menores */
  }

  .about-description {
    margin-top: 0; /* Removendo a margem superior em telas menores */
  }
}

/* Estilos para os botões sociais */
.social-buttons {
  margin-left: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.social-button {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  background-color: #3B87F9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s;
}

.social-button ion-icon {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
}

.social-button:hover {
  transform: scale(1.1);
  background-color: #3B87F9
}

.contribuitions-container {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contri-card {
  width: 48%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #0d0f13;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #5f5f5f;
  transition: all 0.4s;
}

@media (max-width: 600px) {
  .contri-card {
    flex: 1 0 100%;
  }
}

.contri-card h3 {
  color: white;
  margin-top: 10px;
  margin-bottom: -20px;
}

.contri-card hr {
  border: 0.5px solid #3B87F9;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: -20px;
  margin-right: -20px;
}

.contributions-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.contributions-list li {
  margin-bottom: 5px;
  color: #2c65ba;
}

.contri-card h2 {
  font-size: 18px;
  color: #5f5f5f;
  transition: all 0.4s;
}

.contri-card:hover h2 {
  color: #3B87F9;
  font-size: 20px;
  }

.contri-card p {
  text-align: left;
  margin-right: 24px;
  color: #a7a7a7;
}

.contri-card:hover {
  border: 1px solid #3B87F9;
  cursor: pointer;
  transform: scale(1.05);
}


.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: -10px; /* Adicionando um margin negativo para compensar o gap */
  margin-top: 140px;
}

.projects-container {
  display: flex;
  justify-content: space-between; /* Ajustado de space-around para space-between */
  flex-wrap: wrap;
  margin: -10px; /* Adicionando um margin negativo para compensar o gap */
  margin-top: 140px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #0d0f13;
  border: 1px solid #555;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px;
  width: 400px;
  transition: all 0.5s;
}

.project-card:hover {
  background-color: #101317;
  border: 0.8px solid #3B87F0;
  transform: scale(1.05);
  cursor: pointer;
}

.project-card img {
  width: 50%;
  height: 200px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 100px;
}

.project-card hr {
  border: 0.5px solid #5f5f5f;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: all 0;
}

.project-card:hover hr {
  border: 0.5px solid #3B87F9;
  margin-top: 16px;
  margin-bottom: 16px;
}


.project-info {
  padding: 15px;
  flex: 1;
}

.project-title {
  color: #3B87F9;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-description {
  margin-left: 12px;
  font-size: 14px;
  color: #555;
}

.project-card:hover button {
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 10px;
  width: 160px;
  height: 40px;
  color: #f4f4f4;
  background-color: #3B87F9;
  border-radius: 20px;
  transition: all 0.4s;
}


.project-card button {
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 10px;
  width: 160px;
  height: 40px;
  color: #f4f4f4;
  background-color: #5f5f5f;
  border-radius: 20px;
  transition: all 0.4s;
}

.footer-copy {
height: 50px;
background-color: #101317;
text-align: center;
margin-top: 120px;
margin-left: 0px;
margin-right: 0px;
}

footer p {
  margin-top: 120px;
  color: #a7a7a7;
  }
